version: '3.8'

services:
  app:
    build: .
    container_name: elochess-app
    restart: always
    environment:
      # Glavni URL za konekciju
      DATABASE_URL: "postgresql://neondb_owner:npg_nCrfTY2hv7Hz@ep-divine-truth-ahz7y6c0-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require"
      
      # Razbijeni podaci (ako ih tvoja aplikacija traži pojedinačno)
      DB_HOST: "ep-divine-truth-ahz7y6c0-pooler.c-3.us-east-1.aws.neon.tech"
      DB_PORT: "5432"
      DB_USER: "neondb_owner"
      DB_NAME: "neondb"
      DB_PASSWORD: "npg_nCrfTY2hv7Hz"
      DB_SSL: "require"
    ports:
      - "8080:8080"