version: '3.8'

services:
  db:
    image: postgres:15
    container_name: elochess-db
    restart: always
    environment:
      POSTGRES_USER: elochess_user
      POSTGRES_PASSWORD: EloChess123
      POSTGRES_DB: elochess_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
